body {
  background: #d5c9d0;
  margin: 0;
  font: normal 11pt Ubuntu, sans-serif;
}
a {
  color: #420b2a;
}
@media only screen and (min-width: 600px) {
  .inner {
    width: 940px;
    margin: 20px auto 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  header {
    border-top: 8px solid #420b2a;
  }
  header .logo {
    height: 60px;
    display: inline-block;
    width: 220px;
  }
  header .logo a {
    text-decoration: none;
  }
  header .logo .title {
    font: 300 24pt "Merienda One", sans-serif;
    margin: 0;
    color: #5d4b55;
  }
  header .logo .title span:nth-child(2) {
    font-weight: bold;
    color: #420b2a;
  }
  header p {
    font: 500 12pt "Merienda One", sans-serif;
    text-align: right;
    margin: 0;
    padding-right: 20px;
  }
  header nav {
    width: 680px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-weight: normal;
    padding-top: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  header nav ul {
    margin: 0;
  }
  header nav ul li {
    text-transform: lowercase;
    display: inline-block;
    padding-right: 20px;
    font-family: Coustard, sans-serif;
  }
  header nav ul li a {
    text-decoration: none;
    color: #420b2a;
    font-size: 14pt;
  }
  header nav ul li:hover {
    text-decoration: underline;
  }
  h1 {
    font-family: Coustard, sans-serif;
    color: #5d4b55;
    font-weight: 500;
  }
  .content {
    border-top: 1px outset #cfcfcf;
    border-bottom: 1px inset #cfcfcf;
    min-height: 400px;
    background: #fafafa;
  }
  .content section {
    vertical-align: top;
    display: inline-block;
    width: 290px;
    margin-right: 20px;
  }
  .content section:last-child {
    margin-right: 0;
  }
  .content p,
  .content li {
    line-height: 25px;
  }
  .content .contact_form {
    display: inline-block;
  }
  .content .contact_form fieldset {
    border: 0;
    padding: 0;
  }
  .content .contact_form label {
    display: inline-block;
    padding-right: 5px;
  }
  .content .contact_form label strong {
    display: block;
    text-transform: lowercase;
    padding: 5px 0 5px 0;
  }
  .content .contact_form label input[type="text"],
  .content .contact_form label input[type="email"],
  .content .contact_form label textarea {
    padding: 10px;
    font: normal 11pt Ubuntu, sans-serif;
    border: 1px solid #ccc;
  }
  .content .contact_form label input[type="text"],
  .content .contact_form label input[type="email"] {
    width: 295px;
  }
  .content .contact_form label:nth-child(3) {
    display: block;
  }
  .content .contact_form label textarea {
    width: 620px;
    height: 300px;
  }
  .content .contact_form input[type="submit"] {
    background: #420b2a;
    color: #FFFFFF;
    border: 1px solid #000;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    font-size: 13pt;
  }
  .content .other_options {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
  }
  .content .other_options dl dt {
    font-weight: bold;
    margin-bottom: 3px;
  }
  .content .other_options dl dd {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .content .other_options dl a {
    text-decoration: none;
  }
  .content .portfolio {
    margin-left: -80px;
    margin-right: -80px;
    text-align: center;
  }
  footer {
    height: 80px;
    font-size: 10pt;
    line-height: 20px;
  }
  footer .copyright {
    display: inline-block;
    width: 450px;
  }
  footer .social {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    text-align: right;
  }
  footer .social a {
    display: inline-block;
    padding-right: 10px;
  }
  footer .social a:last-child {
    padding-right: 0;
  }
}
@media only screen and (max-width: 599px) {
  header {
    border-top: 8px solid #420b2a;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
  header .logo {
    height: 60px;
    display: block;
    width: 220px;
    margin: 0 auto;
  }
  header .logo a {
    text-decoration: none;
  }
  header .logo .title {
    font: 300 24pt "Merienda One", sans-serif;
    margin: 0;
    color: #5d4b55;
  }
  header .logo .title span:nth-child(2) {
    font-weight: bold;
    color: #420b2a;
  }
  header p {
    font: 500 12pt "Merienda One", sans-serif;
    text-align: right;
    margin: 0;
    padding-right: 20px;
  }
  header nav {
    height: auto;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    padding: 25px 0 20px 0;
  }
  header nav ul {
    margin: 0;
  }
  header nav ul li {
    text-transform: lowercase;
    display: inline-block;
    padding-right: 20px;
    font-family: Coustard, sans-serif;
  }
  header nav ul li a {
    text-decoration: none;
    color: #420b2a;
    font-size: 14pt;
  }
  header nav ul li:hover {
    text-decoration: underline;
  }
  h1 {
    font-family: Coustard, sans-serif;
    color: #5d4b55;
    font-weight: 500;
    font-size: 16pt;
  }
  .content {
    background-color: #fafafa;
    padding: 5px 15px;
  }
  .portfolio a {
    padding-top: 10px;
    display: block;
    text-align: center;
  }
  .contact_form fieldset {
    border: 0;
    padding: 0;
  }
  .contact_form label {
    display: block;
    padding-right: 5px;
  }
  .contact_form label strong {
    display: block;
    text-transform: lowercase;
    padding: 5px 0 5px 0;
  }
  .contact_form label input[type="text"],
  .contact_form label input[type="email"],
  .contact_form label textarea {
    padding: 10px;
    font: normal 11pt Ubuntu, sans-serif;
    border: 1px solid #ccc;
  }
  .contact_form label input[type="text"],
  .contact_form label input[type="email"] {
    width: 90%;
  }
  .contact_form label:nth-child(3) {
    display: block;
  }
  .contact_form label textarea {
    width: 90%;
    height: 300px;
  }
  .contact_form input[type="submit"] {
    background: #420b2a;
    color: #FFFFFF;
    border: 1px solid #000;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    font-size: 13pt;
  }
  .other_options {
    display: inline-block;
    vertical-align: top;
  }
  .other_options dl dt {
    font-weight: bold;
    margin-bottom: 3px;
  }
  .other_options dl dd {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .other_options dl a {
    text-decoration: none;
  }
  a[href="https://github.com/colettesnow/"] {
    display: none;
  }
  footer {
    height: 80px;
    font-size: 8pt;
    line-height: 20px;
    padding: 20px 15px;
  }
  footer .copyright {
    display: block;
  }
  footer .social {
    margin-top: 20px;
    display: block;
  }
  footer .social a {
    display: inline-block;
    padding-right: 10px;
  }
  footer .social a:last-child {
    padding-right: 0;
  }
}
.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #d01040;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #d01040;
}
.highlight .sc {
  color: #d01040;
}
.highlight .sd {
  color: #d01040;
}
.highlight .s2 {
  color: #d01040;
}
.highlight .se {
  color: #d01040;
}
.highlight .sh {
  color: #d01040;
}
.highlight .si {
  color: #d01040;
}
.highlight .sx {
  color: #d01040;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d01040;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}

/*# sourceMappingURL=style.css.map */