body {
  background: #d5c9d0;
  margin: 0;
  font: normal 11pt Ubuntu, sans-serif;
}
a {
  color: #420b2a;
}
@media only screen and (min-width: 600px) {
  .inner {
    width: 940px;
    margin: 20px auto 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
  header {
    border-top: 8px solid #420b2a;
  }
  header .logo {
    height: 60px;
    display: inline-block;
    width: 220px;
  }
  header .logo a {
    text-decoration: none;
  }
  header .logo .title {
    font: 300 24pt "Merienda One", sans-serif;
    margin: 0;
    color: #5d4b55;
  }
  header .logo .title span:nth-child(2) {
    font-weight: bold;
    color: #420b2a;
  }
  header p {
    font: 500 12pt "Merienda One", sans-serif;
    text-align: right;
    margin: 0;
    padding-right: 20px;
  }
  header nav {
    width: 680px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-weight: normal;
    padding-top: 10px;
    box-sizing: border-box;
  }
  header nav ul {
    margin: 0;
  }
  header nav ul li {
    text-transform: lowercase;
    display: inline-block;
    padding-right: 20px;
    font-family: Coustard, sans-serif;
  }
  header nav ul li a {
    text-decoration: none;
    color: #420b2a;
    font-size: 14pt;
  }
  header nav ul li:hover {
    text-decoration: underline;
  }
  h1 {
    font-family: Coustard, sans-serif;
    color: #5d4b55;
    font-weight: 500;
  }
  .content {
    border-top: 1px outset #cfcfcf;
    border-bottom: 1px inset #cfcfcf;
    min-height: 400px;
    background: #fafafa;
  }
  .content section {
    vertical-align: top;
    display: inline-block;
    width: 290px;
    margin-right: 20px;
  }
  .content section:last-child {
    margin-right: 0;
  }
  .content p,
  .content li {
    line-height: 25px;
  }
  .content .contact_form {
    display: inline-block;
  }
  .content .contact_form fieldset {
    border: 0;
    padding: 0;
  }
  .content .contact_form label {
    display: inline-block;
    padding-right: 5px;
  }
  .content .contact_form label strong {
    display: block;
    text-transform: lowercase;
    padding: 5px 0 5px 0;
  }
  .content .contact_form label input[type="text"],
  .content .contact_form label input[type="email"],
  .content .contact_form label textarea {
    padding: 10px;
    font: normal 11pt Ubuntu, sans-serif;
    border: 1px solid #ccc;
  }
  .content .contact_form label input[type="text"],
  .content .contact_form label input[type="email"] {
    width: 295px;
  }
  .content .contact_form label:nth-child(3) {
    display: block;
  }
  .content .contact_form label textarea {
    width: 620px;
    height: 300px;
  }
  .content .contact_form input[type="submit"] {
    background: #420b2a;
    color: #FFFFFF;
    border: 1px solid #000;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    font-size: 13pt;
  }
  .content .other_options {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
  }
  .content .other_options dl dt {
    font-weight: bold;
    margin-bottom: 3px;
  }
  .content .other_options dl dd {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .content .other_options dl a {
    text-decoration: none;
  }
  .content .portfolio {
    margin-left: -80px;
    margin-right: -80px;
    text-align: center;
  }
  footer {
    height: 80px;
    font-size: 10pt;
    line-height: 20px;
  }
  footer .copyright {
    display: inline-block;
    width: 450px;
  }
  footer .social {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    text-align: right;
  }
  footer .social a {
    display: inline-block;
    padding-right: 10px;
  }
  footer .social a:last-child {
    padding-right: 0;
  }
}
@media only screen and (max-width: 599px) {
  header {
    border-top: 8px solid #420b2a;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
  header .logo {
    height: 60px;
    display: block;
    width: 220px;
    margin: 0 auto;
  }
  header .logo a {
    text-decoration: none;
  }
  header .logo .title {
    font: 300 24pt "Merienda One", sans-serif;
    margin: 0;
    color: #5d4b55;
  }
  header .logo .title span:nth-child(2) {
    font-weight: bold;
    color: #420b2a;
  }
  header p {
    font: 500 12pt "Merienda One", sans-serif;
    text-align: right;
    margin: 0;
    padding-right: 20px;
  }
  header nav {
    height: auto;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    padding: 25px 0 20px 0;
  }
  header nav ul {
    margin: 0;
  }
  header nav ul li {
    text-transform: lowercase;
    display: inline-block;
    padding-right: 20px;
    font-family: Coustard, sans-serif;
  }
  header nav ul li a {
    text-decoration: none;
    color: #420b2a;
    font-size: 14pt;
  }
  header nav ul li:hover {
    text-decoration: underline;
  }
  h1 {
    font-family: Coustard, sans-serif;
    color: #5d4b55;
    font-weight: 500;
    font-size: 16pt;
  }
  .content {
    background-color: #fafafa;
    padding: 5px 15px;
  }
  .portfolio a {
    padding-top: 10px;
    display: block;
    text-align: center;
  }
  .contact_form fieldset {
    border: 0;
    padding: 0;
  }
  .contact_form label {
    display: block;
    padding-right: 5px;
  }
  .contact_form label strong {
    display: block;
    text-transform: lowercase;
    padding: 5px 0 5px 0;
  }
  .contact_form label input[type="text"],
  .contact_form label input[type="email"],
  .contact_form label textarea {
    padding: 10px;
    font: normal 11pt Ubuntu, sans-serif;
    border: 1px solid #ccc;
  }
  .contact_form label input[type="text"],
  .contact_form label input[type="email"] {
    width: 90%;
  }
  .contact_form label:nth-child(3) {
    display: block;
  }
  .contact_form label textarea {
    width: 90%;
    height: 300px;
  }
  .contact_form input[type="submit"] {
    background: #420b2a;
    color: #FFFFFF;
    border: 1px solid #000;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    font-size: 13pt;
  }
  .other_options {
    display: inline-block;
    vertical-align: top;
  }
  .other_options dl dt {
    font-weight: bold;
    margin-bottom: 3px;
  }
  .other_options dl dd {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .other_options dl a {
    text-decoration: none;
  }
  a[href="https://github.com/colettesnow/"] {
    display: none;
  }
  footer {
    height: 80px;
    font-size: 8pt;
    line-height: 20px;
    padding: 20px 15px;
  }
  footer .copyright {
    display: block;
  }
  footer .social {
    margin-top: 20px;
    display: block;
  }
  footer .social a {
    display: inline-block;
    padding-right: 10px;
  }
  footer .social a:last-child {
    padding-right: 0;
  }
}
