---
title: Web Development, WordPress Development, HTML Emails, PSD to HTML 
---
{% include header.html %}

<h1>Hi, I'm Colette Snow, a web developer in Melbourne. I build websites with a focus on usability, standards compliance and accessibility.</h1>

<section id="web_development">
<h2>Web Development</h2>
		
<p>I can create a custom solution to meet the needs of you and your business, or customise an existing solution. <a href="/services#custom-web-development">Find out more</a>.</p>
</section>

<section id="wordpress">
<h2>WordPress Development</h2>

<p>WordPress is a free and open source content management and blogging platform. I can customise WordPress to meet the needs of you and your business through theme and plugin development. <a href="/services#wordpress-theme-or-plugin-development">Find out more</a> or see my <a href="/portfolio#wordpress">portfolio</a>.</p>
</section>
		
<section id="psd-to-html">
<h2>Design to HTML</h2>

<p>If you have had a designer create a design for you, I can turn it into the code needed to make it work with your favourite content management system, blog, eCommerce or forum software. I also do HTML emails. <a href="/services#design-to-html-or-email">Find out more</a>.</p>
</section>

{% include footer.html %}