---
---
{% include header.html %}

<div id="content">
	<div class="inner">

		<h1>Hi, I'm Colette Snow, a web developer in Melbourne. I build websites with a focus on usability, standards compliance and accessibility.</h1>

		<section id="web_development">
			<h2>Web Development</h2>
		
			<p>I can create a custom solution to meet the needs of you and your business, or customise an existing solution. See <a href="portfolio#webdev">examples of my work</a>.</p>
		</section>

		<section id="wordpress">
			<h2>WordPress Development</h2>

			<p>WordPress is a free and open source content management and blogging platform. I can customise WordPress to meet the needs of you and your business through theme and plugin development. See <a href="portfolio#wordpress">examples of my work</a></p>
		</section>
		
		<section id="psd-to-html">
			<h2>Design to HTML</h2>

			<p>If you have had a designer create a design for you, I can turn it into the code needed to make it work with your favourite content management system, blog, eCommerce or forum software. I also do HTML emails. See <a href="portfolio#psd">examples of my work</a></p>
		</section>	

	</div>
</div>

{% include footer.html %}