---
layout: default
title: Portfolio
---

<h1>Portfolio</h1>

<p><a href="#open-source">Open Source</a> | <a href="#wordpress">WordPress</a> | <a href="#websites">Other Websites</a></p>

<h2 id="open-source">Open Source Projects</h2>

{% assign projects = site.portfolio | where:'type', 'projects' %}
{% assign wordpress = site.portfolio | where:'type', 'wordpress' %}
{% assign websites = site.portfolio | where:'type', 'websites' %}

{% for project in projects %}
    <p><strong><a href="{{ project.url }}">{{ project.title }}</a></strong> (<a href="{{ project.source }}">source</a>)<br />
    {{ project.content | remove: '<p>' | remove: '</p>' }}</p>
{% endfor %}

<h2 id="wordpress">WordPress</h2>

<p class="portfolio">
{% for wp in wordpress %}
    <a href="{{ wp.screenshot }}" rel="lightbox-wordpress" title="{{ wp.caption }}"><img src="{{ wp.thumbnail }}" width="260" height="178" /></a>
{% endfor %}
</p>

<h2 id="websites">Websites (non-WordPress)</h2>

<p class="portfolio">
{% for website in websites %}
    <a href="{{ website.screenshot }}" rel="lightbox-websites" title="{{ website.caption }}"><img src="{{ website.thumbnail }}" width="260" height="178" /></a>
{% endfor %}
</p>