<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name=viewport content="width=device-width, initial-scale=1">
<title>{{ page.title }} | Colette Snow - Web Development Services</title>
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,700,500italic|Merienda+One|Coustard' rel='stylesheet' type='text/css'>
{% if page.title == "Portfolio" %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/slimbox2/slimbox2.js"></script>
<link rel="stylesheet" href="/css/slimbox2.css" type="text/css" />
{% endif %}
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<meta name="referrer" content="unsafe-url" />
<meta name="google-site-verification" content="vERLBo9HgvAn_aGc4nVCQHuUgh_I3Px0RBE7EcQTCkc" />
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Colette Snow",
  "gender" : "http://schema.org/Female",
  "email" : "colette@colettesnow.com",
  "jobTitle" : "Freelance Web Developer",
  "url" : "https://colettesnow.com",
  "sameAs" : [
    "https://www.facebook.com/colette.a.snow",
    "https://www.instagram.com/colettesnow/e",
    "https://www.linkedin.com/in/colettesnow",
    "https://plus.google.com/117796060291512219508",
    "https://twitter.com/colette_snow",
    "https://github.com/colettesnow/",
    "http://about.me/colettesnow",
    "https://www.goodreads.com/colettesnow",
    "http://www.pinterest.com/colettesnow/",
    "http://blog.colettesnow.com"
  ]
}
</script>
</head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W22ZG7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W22ZG7');</script>
<!-- End Google Tag Manager -->

<header>
	<div class="inner">
		<div class="logo">
            <a href="/index.html">
			    <div class="title"><span>{</span>Colette<span>Snow</span><span>}</span></div>
			    <p class="subtitle">Web Developer&nbsp;</p>
            </a>
		</div>

		<nav>
			<ul>
				<li><a href="/about.html">About</a></li>
				<li><a href="/portfolio.html">Portfolio</a></li>
				<li><a href="/services.html">Services</a></li>
				<li><a href="/hire.html" class="hire_button">Hire Colette</a></li>
			</ul>
		</nav>
	</div>
</header>

<div class="content">
	<div class="inner">
